extends htmlTemplate.pug
block breadcrumb
    li.breadcrumb-item.active GenreDB
block content
    .container.col-12
        table.table.table-hover.table-responsive
            thead
                tr
                    th No.
                    th _id
                    th genreName
                    th imageLink
                    th preview
            tbody
                each genre, index in genres
                    tr
                        td= index+1
                        td= genre.genreID
                        td= genre.name
                        td= genre.image
                        td
                            img(src=genre.image height="100" width="100")
